<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" >
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <title>Skyes Crawford</title>
</head>
<body>
    <div class="ui inverted menu">
      <div class="ui container">
        <div class="header item">
          <a href="/blogs"><i class="icon code"></i></a>
        </div>
        <a class="item active" href="/">Home</a>
        <a class="item" href="/about">About</a>
        <a class="item" href="/blogs/new">New Post</a>
        <div class="right menu">
          <% if(!currentUser){ %>
            <a class="item" href="/register" class="item">Sign Up</a>
            <a class="item" href="/login" class="item">Login</a>
          <% } else { %>
            <a class="item" href="#">Sign In as <%= currentUser.username %></a>
            <a class="item" href="/logout" class="item">Logout</a>
          <% } %>
        </div>
      </div>
    </div>