<%- include("partials/header") %>
<div class="ui main text container segment">
        <div class="ui top attached">
                <h1 class="ui header">
                        <span class="library">Dive deeper on topics that matter to you.</span>
                </h1>
                <h1>
                        <span class="tag">Select what you're into. We'll help you find great things to read.</span>
                </h1>
                <div class="center">
                        <a href="/blogs" class="ui big primary button">Get Started</a>
                </div>
        </div>
</div>
<%- include("partials/footer") %>
