<%- include("partials/header") %>

<div class="ui main text container segment">
    <div class="ui huge header">Sign Up Page</div>
    <form class="ui form" action="/register" method="POST">
        <div class="field">
            <label>Username</label>
            <input type="text" name="username" placeholder="username">
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password" name="password" placeholder="password">
        </div>
        <div class="field">
            <input class="ui primary button" type="submit">
        </div>
    </form>
</div>    

<%- include("partials/footer") %>
